# Importing Dependencies

In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
import psycopg2
from psycopg2 import OperationalError
from sqlalchemy import create_engine
from configparser import ConfigParser

# from config import db_password
from config import db_password

# Connecting to SQL

In [2]:
# Add connection string for local server
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/weather_traffic_db"

In [3]:
# Create database engine
engine = create_engine(db_string)

In [11]:
# Read 'database.ini' file and return connection parameters
def config(filename='database.ini', section='postgresql'):

    # Create a parser
    parser = ConfigParser()
    # Read config file
    parser.read(filename)
    
    # Get section
    db = {}
    if parser.has_section(section):
        paramas = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
            
        else:
            raise Exception('Section {0} not found in the {1} file'.format(section, filename))
            
        return db

In [12]:
with engine.connect() as conn, conn.begin():
    print(pd.read_sql_table('machine_learning_set', conn))

      daily_non_vehicle_traffic  avg_temp_f_daily  total_rain_mm_daily  \
0                           144         27.641160                  0.0
1                           258         25.240992                  0.0
2                           203         -1.415501                  0.0
3                           635         53.833179                  0.5
4                          1641         59.942571                  0.0
...                         ...               ...                  ...
1194                       1169         47.702339                  0.0
1195                       1443         68.090745                  0.0
1196                        786         37.442003                  0.0
1197                       2076         74.965248                  0.0
1198                        698         39.621498                  0.0

      total_snow_mm_daily  avg_cloud_percent_daily  \
0                     0.0                88.421053
1                     0.0                86.458333
2                     0.0                39.333333
3                     0.0                66.590909
4                     0.0                13.043478
...                   ...                      ...
1194                  0.0                 1.043478
1195                  0.0                76.875000
1196                  0.0                75.458333
1197                  0.0                17.541667
1198                  0.0                38.750000

      total_vehicle_volume_daily       date  month  day_of_week        holiday
0                        29899.0 2015-12-25   12.0          5.0  Christmas Day
1                        51842.0 2016-12-26   12.0          1.0  Christmas Day
2                        45355.0 2017-12-25   12.0          1.0  Christmas Day
3                        74168.0 2015-10-12   10.0          1.0   Columbus Day
4                        74469.0 2016-10-10   10.0          1.0   Columbus Day
...                          ...        ...    ...          ...            ...
1194                     61191.0 2016-10-22   10.0          6.0           none
1195                     87714.0 2018-08-01    8.0          3.0           none
1196                     90449.0 2017-02-28    2.0          2.0           none
1197                     81708.0 2018-07-02    7.0          1.0           none
1198                     46085.0 2016-02-19    2.0          5.0           none

[1199 rows x 10 columns]

In [14]:
# Saving as pandas dataframe
mlearning_df = pd.read_sql_table('machine_learning_set', engine)
mlearning_df

,daily_non_vehicle_traffic,avg_temp_f_daily,total_rain_mm_daily,total_snow_mm_daily,avg_cloud_percent_daily,total_vehicle_volume_daily,date,month,day_of_week,holiday
0,144,27.641160,0.0,0.0,88.421053,29899.0,2015-12-25,12.0,5.0,Christmas Day
1,258,25.240992,0.0,0.0,86.458333,51842.0,2016-12-26,12.0,1.0,Christmas Day
2,203,-1.415501,0.0,0.0,39.333333,45355.0,2017-12-25,12.0,1.0,Christmas Day
3,635,53.833179,0.5,0.0,66.590909,74168.0,2015-10-12,10.0,1.0,Columbus Day
4,1641,59.942571,0.0,0.0,13.043478,74469.0,2016-10-10,10.0,1.0,Columbus Day
...,...,...,...,...,...,...,...,...,...,...
1194,1169,47.702339,0.0,0.0,1.043478,61191.0,2016-10-22,10.0,6.0,none
1195,1443,68.090745,0.0,0.0,76.875000,87714.0,2018-08-01,8.0,3.0,none
1196,786,37.442003,0.0,0.0,75.458333,90449.0,2017-02-28,2.0,2.0,none
1197,2076,74.965248,0.0,0.0,17.541667,81708.0,2018-07-02,7.0,1.0,none
1198,698,39.621498,0.0,0.0,38.750000,46085.0,2016-02-19,2.0,5.0,none

In [15]:
# Drop 'date' column
mlearning_df = mlearning_df.drop(['date'], axis=1)
mlearning_df

,daily_non_vehicle_traffic,avg_temp_f_daily,total_rain_mm_daily,total_snow_mm_daily,avg_cloud_percent_daily,total_vehicle_volume_daily,month,day_of_week,holiday
0,144,27.641160,0.0,0.0,88.421053,29899.0,12.0,5.0,Christmas Day
1,258,25.240992,0.0,0.0,86.458333,51842.0,12.0,1.0,Christmas Day
2,203,-1.415501,0.0,0.0,39.333333,45355.0,12.0,1.0,Christmas Day
3,635,53.833179,0.5,0.0,66.590909,74168.0,10.0,1.0,Columbus Day
4,1641,59.942571,0.0,0.0,13.043478,74469.0,10.0,1.0,Columbus Day
...,...,...,...,...,...,...,...,...,...
1194,1169,47.702339,0.0,0.0,1.043478,61191.0,10.0,6.0,none
1195,1443,68.090745,0.0,0.0,76.875000,87714.0,8.0,3.0,none
1196,786,37.442003,0.0,0.0,75.458333,90449.0,2.0,2.0,none
1197,2076,74.965248,0.0,0.0,17.541667,81708.0,7.0,1.0,none
1198,698,39.621498,0.0,0.0,38.750000,46085.0,2.0,5.0,none

In [17]:
# Checking data types
mlearning_df.dtypes

daily_non_vehicle_traffic       int64
avg_temp_f_daily              float64
total_rain_mm_daily           float64
total_snow_mm_daily           float64
avg_cloud_percent_daily       float64
total_vehicle_volume_daily    float64
month                         float64
day_of_week                   float64
holiday                        object
dtype: object

In [ ]:
# Determing weekdays and weekends
mlearning_df["day_of_week"] =