In [263]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import datetime as dt
import calendar 
import numpy as np

In [264]:
#  Import and read the Metro_Interstate_Traffic_Volume.csv.
Traffic_analysis_df = pd.read_csv("Metro_Interstate_Traffic_Volume.csv")
Traffic_analysis_df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,10/2/2012 9:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,10/2/2012 10:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,10/2/2012 11:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,10/2/2012 12:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,10/2/2012 13:00,4918

In [265]:
#  Import and read the 2014-2020_AllUserData_4Website.xlsx.
bike_df = pd.read_excel('2014-2020_AllUserData_4Website.xlsx')

bike_df.head()

,site,agency,lat,long,city,county,mndot_district,mode,date_day,doy,...,imputed,total_yearly_imputed_days,facility_type,on/off_road,install_year,trunk_hwy,us_bikeroute,device,direction,technology
0,Brown's Creek ST - Stillwater,MnDNR,45.064023,-92.805888,Stillwater,Washington,M,Bicyclist,2018-01-02,2,...,True,256,Shared Use Path,Off,2018,No,None,Eco-Multi,North/South,Infra-red & Inductive loops
1,Brown's Creek ST - Stillwater,MnDNR,45.064023,-92.805888,Stillwater,Washington,M,Bicyclist,2018-01-03,3,...,True,256,Shared Use Path,Off,2018,No,None,Eco-Multi,North/South,Infra-red & Inductive loops
2,Brown's Creek ST - Stillwater,MnDNR,45.064023,-92.805888,Stillwater,Washington,M,Bicyclist,2018-01-04,4,...,True,256,Shared Use Path,Off,2018,No,None,Eco-Multi,North/South,Infra-red & Inductive loops
3,Brown's Creek ST - Stillwater,MnDNR,45.064023,-92.805888,Stillwater,Washington,M,Bicyclist,2018-01-05,5,...,True,256,Shared Use Path,Off,2018,No,None,Eco-Multi,North/South,Infra-red & Inductive loops
4,Brown's Creek ST - Stillwater,MnDNR,45.064023,-92.805888,Stillwater,Washington,M,Bicyclist,2018-01-06,6,...,True,256,Shared Use Path,Off,2018,No,None,Eco-Multi,North/South,Infra-red & Inductive loops

In [266]:
# Drop the non-beneficial ID columns, 'weather_main' and 'weather_description'.
Traffic_analysis_df = Traffic_analysis_df.drop(['weather_main','weather_description'], axis=1)
Traffic_analysis_df

,holiday,temp,rain_1h,snow_1h,clouds_all,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,10/2/2012 9:00,5545
1,None,289.36,0.0,0.0,75,10/2/2012 10:00,4516
2,None,289.58,0.0,0.0,90,10/2/2012 11:00,4767
3,None,290.13,0.0,0.0,90,10/2/2012 12:00,5026
4,None,291.14,0.0,0.0,75,10/2/2012 13:00,4918
...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75,9/30/2018 19:00,3543
48200,None,282.76,0.0,0.0,90,9/30/2018 20:00,2781
48201,None,282.73,0.0,0.0,90,9/30/2018 21:00,2159
48202,None,282.09,0.0,0.0,90,9/30/2018 22:00,1450
48203,None,282.12,0.0,0.0,90,9/30/2018 23:00,954

In [267]:
# Determine the number of unique values in each column.
Traffic_analysis_df.nunique()

holiday              12
temp               5843
rain_1h             372
snow_1h              12
clouds_all           60
date_time         40575
traffic_volume     6704
dtype: int64

In [268]:
Traffic_analysis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   holiday         48204 non-null  object
 1   temp            48204 non-null  float64
 2   rain_1h         48204 non-null  float64
 3   snow_1h         48204 non-null  float64
 4   clouds_all      48204 non-null  int64
 5   date_time       48204 non-null  object
 6   traffic_volume  48204 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 2.6+ MB

In [269]:
Traffic_analysis_df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,10/2/2012 9:00,5545
1,None,289.36,0.0,0.0,75,10/2/2012 10:00,4516
2,None,289.58,0.0,0.0,90,10/2/2012 11:00,4767
3,None,290.13,0.0,0.0,90,10/2/2012 12:00,5026
4,None,291.14,0.0,0.0,75,10/2/2012 13:00,4918

In [270]:
Traffic_analysis_features = Traffic_analysis_df.copy()

In [271]:
# #Extracting features from date_time variable
Traffic_analysis_features['date_time'] = pd.to_datetime(Traffic_analysis_features.date_time)
Traffic_analysis_features['weekday'] = Traffic_analysis_features.date_time.dt.weekday
Traffic_analysis_features['date'] = Traffic_analysis_features.date_time.dt.date
Traffic_analysis_features['hour'] = Traffic_analysis_features.date_time.dt.hour
Traffic_analysis_features['month'] = Traffic_analysis_features.date_time.dt.month
Traffic_analysis_features['year'] = Traffic_analysis_features.date_time.dt.year
#Monday is 0 and Sunday is 6

In [272]:
Traffic_analysis_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   holiday         48204 non-null  object
 1   temp            48204 non-null  float64
 2   rain_1h         48204 non-null  float64
 3   snow_1h         48204 non-null  float64
 4   clouds_all      48204 non-null  int64
 5   date_time       48204 non-null  datetime64[ns]
 6   traffic_volume  48204 non-null  int64
 7   weekday         48204 non-null  int64
 8   date            48204 non-null  object
 9   hour            48204 non-null  int64
 10  month           48204 non-null  int64
 11  year            48204 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(2)
memory usage: 4.4+ MB

In [273]:
Traffic_analysis_features

,holiday,temp,rain_1h,snow_1h,clouds_all,date_time,traffic_volume,weekday,date,hour,month,year
0,None,288.28,0.0,0.0,40,2012-10-02 09:00:00,5545,1,2012-10-02,9,10,2012
1,None,289.36,0.0,0.0,75,2012-10-02 10:00:00,4516,1,2012-10-02,10,10,2012
2,None,289.58,0.0,0.0,90,2012-10-02 11:00:00,4767,1,2012-10-02,11,10,2012
3,None,290.13,0.0,0.0,90,2012-10-02 12:00:00,5026,1,2012-10-02,12,10,2012
4,None,291.14,0.0,0.0,75,2012-10-02 13:00:00,4918,1,2012-10-02,13,10,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75,2018-09-30 19:00:00,3543,6,2018-09-30,19,9,2018
48200,None,282.76,0.0,0.0,90,2018-09-30 20:00:00,2781,6,2018-09-30,20,9,2018
48201,None,282.73,0.0,0.0,90,2018-09-30 21:00:00,2159,6,2018-09-30,21,9,2018
48202,None,282.09,0.0,0.0,90,2018-09-30 22:00:00,1450,6,2018-09-30,22,9,2018
48203,None,282.12,0.0,0.0,90,2018-09-30 23:00:00,954,6,2018-09-30,23,9,2018

In [274]:
Traffic_analysis_features = Traffic_analysis_features.drop(['date_time'], axis=1)
Traffic_analysis_features

,holiday,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year
0,None,288.28,0.0,0.0,40,5545,1,2012-10-02,9,10,2012
1,None,289.36,0.0,0.0,75,4516,1,2012-10-02,10,10,2012
2,None,289.58,0.0,0.0,90,4767,1,2012-10-02,11,10,2012
3,None,290.13,0.0,0.0,90,5026,1,2012-10-02,12,10,2012
4,None,291.14,0.0,0.0,75,4918,1,2012-10-02,13,10,2012
...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75,3543,6,2018-09-30,19,9,2018
48200,None,282.76,0.0,0.0,90,2781,6,2018-09-30,20,9,2018
48201,None,282.73,0.0,0.0,90,2159,6,2018-09-30,21,9,2018
48202,None,282.09,0.0,0.0,90,1450,6,2018-09-30,22,9,2018
48203,None,282.12,0.0,0.0,90,954,6,2018-09-30,23,9,2018

In [275]:
Traffic_analysis_features['date'] = pd.to_datetime(Traffic_analysis_features['date'], format='%Y-%m-%d')
Traffic_analysis_features

,holiday,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year
0,None,288.28,0.0,0.0,40,5545,1,2012-10-02,9,10,2012
1,None,289.36,0.0,0.0,75,4516,1,2012-10-02,10,10,2012
2,None,289.58,0.0,0.0,90,4767,1,2012-10-02,11,10,2012
3,None,290.13,0.0,0.0,90,5026,1,2012-10-02,12,10,2012
4,None,291.14,0.0,0.0,75,4918,1,2012-10-02,13,10,2012
...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75,3543,6,2018-09-30,19,9,2018
48200,None,282.76,0.0,0.0,90,2781,6,2018-09-30,20,9,2018
48201,None,282.73,0.0,0.0,90,2159,6,2018-09-30,21,9,2018
48202,None,282.09,0.0,0.0,90,1450,6,2018-09-30,22,9,2018
48203,None,282.12,0.0,0.0,90,954,6,2018-09-30,23,9,2018

In [276]:
# Generate our categorical variable lists
application_cat = Traffic_analysis_features.dtypes[Traffic_analysis_features.dtypes=='object'].index.tolist()
application_cat

['holiday']

In [277]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(Traffic_analysis_features[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df

,holiday_Christmas Day,holiday_Columbus Day,holiday_Independence Day,holiday_Labor Day,holiday_Martin Luther King Jr Day,holiday_Memorial Day,holiday_New Years Day,holiday_None,holiday_State Fair,holiday_Thanksgiving Day,holiday_Veterans Day,holiday_Washingtons Birthday
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
48199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [278]:
# Merge one-hot encoded features and drop the originals
Traffic_analysis_features = Traffic_analysis_features.merge(encode_df,left_index=True, right_index=True)
Traffic_analysis_features = Traffic_analysis_features.drop(application_cat,1)
Traffic_analysis_features

,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year,...,holiday_Independence Day,holiday_Labor Day,holiday_Martin Luther King Jr Day,holiday_Memorial Day,holiday_New Years Day,holiday_None,holiday_State Fair,holiday_Thanksgiving Day,holiday_Veterans Day,holiday_Washingtons Birthday
0,288.28,0.0,0.0,40,5545,1,2012-10-02,9,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,289.36,0.0,0.0,75,4516,1,2012-10-02,10,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,289.58,0.0,0.0,90,4767,1,2012-10-02,11,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,290.13,0.0,0.0,90,5026,1,2012-10-02,12,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,291.14,0.0,0.0,75,4918,1,2012-10-02,13,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,283.45,0.0,0.0,75,3543,6,2018-09-30,19,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48200,282.76,0.0,0.0,90,2781,6,2018-09-30,20,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48201,282.73,0.0,0.0,90,2159,6,2018-09-30,21,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48202,282.09,0.0,0.0,90,1450,6,2018-09-30,22,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48203,282.12,0.0,0.0,90,954,6,2018-09-30,23,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [279]:
# Converting Kelvin to Celsius

Traffic_analysis_features['temp'] = (Traffic_analysis_features['temp']-273.15)
Traffic_analysis_features.head()

,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year,...,holiday_Independence Day,holiday_Labor Day,holiday_Martin Luther King Jr Day,holiday_Memorial Day,holiday_New Years Day,holiday_None,holiday_State Fair,holiday_Thanksgiving Day,holiday_Veterans Day,holiday_Washingtons Birthday
0,15.13,0.0,0.0,40,5545,1,2012-10-02,9,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,16.21,0.0,0.0,75,4516,1,2012-10-02,10,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,16.43,0.0,0.0,90,4767,1,2012-10-02,11,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,16.98,0.0,0.0,90,5026,1,2012-10-02,12,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,17.99,0.0,0.0,75,4918,1,2012-10-02,13,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [280]:
# Converting Celsius to Fahrenheit

Traffic_analysis_features['temp'] = (Traffic_analysis_features['temp'] * 1.8 + 32)
Traffic_analysis_features

,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year,...,holiday_Independence Day,holiday_Labor Day,holiday_Martin Luther King Jr Day,holiday_Memorial Day,holiday_New Years Day,holiday_None,holiday_State Fair,holiday_Thanksgiving Day,holiday_Veterans Day,holiday_Washingtons Birthday
0,59.234,0.0,0.0,40,5545,1,2012-10-02,9,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,61.178,0.0,0.0,75,4516,1,2012-10-02,10,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,61.574,0.0,0.0,90,4767,1,2012-10-02,11,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,62.564,0.0,0.0,90,5026,1,2012-10-02,12,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,64.382,0.0,0.0,75,4918,1,2012-10-02,13,10,2012,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,50.540,0.0,0.0,75,3543,6,2018-09-30,19,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48200,49.298,0.0,0.0,90,2781,6,2018-09-30,20,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48201,49.244,0.0,0.0,90,2159,6,2018-09-30,21,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48202,48.092,0.0,0.0,90,1450,6,2018-09-30,22,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48203,48.146,0.0,0.0,90,954,6,2018-09-30,23,9,2018,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [281]:
# Drop the non-beneficial ID columns, 'site','agency','lat','long','city','mndot_district','mode','doy','imputed''.
bike_df = bike_df.drop(['site','agency','lat','long','city','mndot_district','mode','doy','imputed',], axis=1)
bike_df.head

<bound method NDFrame.head of             county   date_day      total  PRCP  TMAX  \
0       Washington 2018-01-02  21.586591  0.00  15.0
1       Washington 2018-01-03  17.323078  0.00  11.0
2       Washington 2018-01-04  12.813717  0.00   2.0
3       Washington 2018-01-05  13.651215  0.00   3.0
4       Washington 2018-01-06  21.927954  0.00  14.0
...            ...        ...        ...   ...   ...
78425  Saint Louis 2020-12-27  31.000000  0.00  23.0
78426  Saint Louis 2020-12-28  19.000000  0.00  17.0
78427  Saint Louis 2020-12-29  19.000000  0.15  21.0
78428  Saint Louis 2020-12-30  30.000000  0.00  24.0
78429  Saint Louis 2020-12-31  34.000000  0.00  19.0

       total_yearly_imputed_days    facility_type on/off_road  install_year  \
0                            256  Shared Use Path         Off          2018
1                            256  Shared Use Path         Off          2018
2                            256  Shared Use Path         Off          2018
3                            256  Shared Use Path         Off          2018
4                            256  Shared Use Path         Off          2018
...                          ...              ...         ...           ...
78425                          7  Shared Use Path         Off          2018
78426                          7  Shared Use Path         Off          2018
78427                          7  Shared Use Path         Off          2018
78428                          7  Shared Use Path         Off          2018
78429                          7  Shared Use Path         Off          2018

      trunk_hwy us_bikeroute     device    direction  \
0            No         None  Eco-Multi  North/South
1            No         None  Eco-Multi  North/South
2            No         None  Eco-Multi  North/South
3            No         None  Eco-Multi  North/South
4            No         None  Eco-Multi  North/South
...         ...          ...        ...          ...
78425        No         None  Eco-Multi    East/West
78426        No         None  Eco-Multi    East/West
78427        No         None  Eco-Multi    East/West
78428        No         None  Eco-Multi    East/West
78429        No         None  Eco-Multi    East/West

                        technology
0      Infra-red & Inductive loops
1      Infra-red & Inductive loops
2      Infra-red & Inductive loops
3      Infra-red & Inductive loops
4      Infra-red & Inductive loops
...                            ...
78425  Infra-red & Inductive loops
78426  Infra-red & Inductive loops
78427  Infra-red & Inductive loops
78428  Infra-red & Inductive loops
78429  Infra-red & Inductive loops

[78430 rows x 14 columns]>

In [282]:
bike_df = bike_df.drop(['PRCP','TMAX','total_yearly_imputed_days','on/off_road','install_year','trunk_hwy',
                        'us_bikeroute','device','direction','technology'], axis=1)
bike_df

            county   date_day      total    facility_type
0       Washington 2018-01-02  21.586591  Shared Use Path
1       Washington 2018-01-03  17.323078  Shared Use Path
2       Washington 2018-01-04  12.813717  Shared Use Path
3       Washington 2018-01-05  13.651215  Shared Use Path
4       Washington 2018-01-06  21.927954  Shared Use Path
...            ...        ...        ...              ...
78425  Saint Louis 2020-12-27  31.000000  Shared Use Path
78426  Saint Louis 2020-12-28  19.000000  Shared Use Path
78427  Saint Louis 2020-12-29  19.000000  Shared Use Path
78428  Saint Louis 2020-12-30  30.000000  Shared Use Path
78429  Saint Louis 2020-12-31  34.000000  Shared Use Path

[78430 rows x 4 columns]

In [283]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78430 entries, 0 to 78429
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   county         78430 non-null  object
 1   date_day       78430 non-null  datetime64[ns]
 2   total          78430 non-null  float64
 3   facility_type  78430 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.4+ MB

In [285]:
Ramsey_county_df = bike_df[bike_df["county"] == "Ramsey"]
Ramsey_county_df

       county   date_day       total             facility_type
68204  Ramsey 2016-01-01   16.472980  Sidewalk & Bike Facility
68205  Ramsey 2016-01-02   14.725153  Sidewalk & Bike Facility
68206  Ramsey 2016-01-03   13.798586  Sidewalk & Bike Facility
68207  Ramsey 2016-01-04   16.097296  Sidewalk & Bike Facility
68208  Ramsey 2016-01-05   18.489358  Sidewalk & Bike Facility
...       ...        ...         ...                       ...
74045  Ramsey 2020-12-27  218.000000                 Bike Lane
74046  Ramsey 2020-12-28  229.000000                 Bike Lane
74047  Ramsey 2020-12-29  203.000000                 Bike Lane
74048  Ramsey 2020-12-30  252.000000                 Bike Lane
74049  Ramsey 2020-12-31  243.000000                 Bike Lane

[5846 rows x 4 columns]

In [286]:
combined_df = pd.concat([Traffic_analysis_features, Ramsey_county_df], axis=1)
combined_df

,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year,...,holiday_New Years Day,holiday_None,holiday_State Fair,holiday_Thanksgiving Day,holiday_Veterans Day,holiday_Washingtons Birthday,county,date_day,total,facility_type
0,59.234,0.0,0.0,40.0,5545.0,1.0,2012-10-02,9.0,10.0,2012.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaT,NaN,NaN
1,61.178,0.0,0.0,75.0,4516.0,1.0,2012-10-02,10.0,10.0,2012.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaT,NaN,NaN
2,61.574,0.0,0.0,90.0,4767.0,1.0,2012-10-02,11.0,10.0,2012.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaT,NaN,NaN
3,62.564,0.0,0.0,90.0,5026.0,1.0,2012-10-02,12.0,10.0,2012.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaT,NaN,NaN
4,64.382,0.0,0.0,75.0,4918.0,1.0,2012-10-02,13.0,10.0,2012.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74045,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ramsey,2020-12-27,218.0,Bike Lane
74046,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ramsey,2020-12-28,229.0,Bike Lane
74047,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ramsey,2020-12-29,203.0,Bike Lane
74048,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ramsey,2020-12-30,252.0,Bike Lane
74049,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ramsey,2020-12-31,243.0,Bike Lane

In [288]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54050 entries, 0 to 74049
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   temp                               48204 non-null  float64
 1   rain_1h                            48204 non-null  float64
 2   snow_1h                            48204 non-null  float64
 3   clouds_all                         48204 non-null  float64
 4   traffic_volume                     48204 non-null  float64
 5   weekday                            48204 non-null  float64
 6   date                               48204 non-null  datetime64[ns]
 7   hour                               48204 non-null  float64
 8   month                              48204 non-null  float64
 9   year                               48204 non-null  float64
 10  holiday_Christmas Day              48204 non-null  float64
 11  holiday_Columbus Day               48204 non-null  float64
 12  holiday_Independence Day           48204 non-null  float64
 13  holiday_Labor Day                  48204 non-null  float64
 14  holiday_Martin Luther King Jr Day  48204 non-null  float64
 15  holiday_Memorial Day               48204 non-null  float64
 16  holiday_New Years Day              48204 non-null  float64
 17  holiday_None                       48204 non-null  float64
 18  holiday_State Fair                 48204 non-null  float64
 19  holiday_Thanksgiving Day           48204 non-null  float64
 20  holiday_Veterans Day               48204 non-null  float64
 21  holiday_Washingtons Birthday       48204 non-null  float64
 22  county                             5846 non-null   object
 23  date_day                           5846 non-null   datetime64[ns]
 24  total                              5846 non-null   float64
 25  facility_type                      5846 non-null   object
dtypes: datetime64[ns](2), float64(22), object(2)
memory usage: 11.1+ MB

In [289]:
combined_df = combined_df.drop(['county','facility_type'], axis=1)
combined_df

,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weekday,date,hour,month,year,...,holiday_Martin Luther King Jr Day,holiday_Memorial Day,holiday_New Years Day,holiday_None,holiday_State Fair,holiday_Thanksgiving Day,holiday_Veterans Day,holiday_Washingtons Birthday,date_day,total
0,59.234,0.0,0.0,40.0,5545.0,1.0,2012-10-02,9.0,10.0,2012.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaT,NaN
1,61.178,0.0,0.0,75.0,4516.0,1.0,2012-10-02,10.0,10.0,2012.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaT,NaN
2,61.574,0.0,0.0,90.0,4767.0,1.0,2012-10-02,11.0,10.0,2012.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaT,NaN
3,62.564,0.0,0.0,90.0,5026.0,1.0,2012-10-02,12.0,10.0,2012.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaT,NaN
4,64.382,0.0,0.0,75.0,4918.0,1.0,2012-10-02,13.0,10.0,2012.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74045,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-27,218.0
74046,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-28,229.0
74047,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-29,203.0
74048,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-30,252.0
74049,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31,243.0

In [290]:
# Split our preprocessed data into our features and target arrays
y = combined_df["total"].values
X = combined_df.drop(["total"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [291]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

TypeError: float() argument must be a string or a number, not 'NaTType'

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  52
# hidden_nodes_layer2 = ?

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

SyntaxError: invalid syntax (<ipython-input-15-ba988e4bb80d>, line 3)